<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <form method="post" action="{{url_for('login_account')}}">
        <div>

      </div>
        <div id ="div-login" class="login" style=" background-color: rgb(232, 169, 194);height:30px">

        </div>
        <div class="background">
            <!-- Form container -->
            <div class="login-form">
                <!-- Logo -->
                <div class="logo">
                    <img src="../static/image/header1.png" alt="Logo">
                </div>
                <!-- Login fields -->
                <div class="login-fields">
                    <form action="#" method="POST">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username" required>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required>
                        <div class="notification">
                            {% if result %}
                                <p style="color: red;">{{ result }}</p>
                            {% endif %}
                        </div>
                        <a href="#" class="forgot-password">FORGOT YOUR PASSWORD?</a>
                        <button type="submit"><a href="#">Login</a></button>
                        <p class="register">Need an account? <a href="#">Register</a></p>
                    </form>
                </div>
            </div>
        </div>
    </form>


</body>
</html>